  <ul class="legal-text">
    <li class="show-on-more-month">
      Finanzierung über einen bonitätsabhängigen Ratenkredit. Kaufpreis entspricht dem Nettodarlehensbetrag; Angaben zugleich repräsentatives Beispiel i. S. d. § 17 Abs. 4 PAngV.
    </li>
    <li class="legal-1 show-on-less-month">
      Finanzierung Ihres Einkaufs (Ratenplan-Verfügung) über den Kreditrahmen mit Mastercard<sup>®</sup>, den Sie wiederholt in Anspruch nehmen können. Nettodarlehensbetrag bonitätsabhängig bis 15.000 &euro;. 17,90 % effektiver Jahreszinssatz. Vertragslaufzeit auf unbestimmte Zeit.</li>
    <li class="show-on-less-month">
      <strong>
        <u>Ratenplan-Verfügung:</u>
      </strong>
      Gebundener Sollzinssatz von
      <span class="campaign-interest-rate">0,00 %</span>
      (jährlich) gilt nur für die ersten
      <span class="campaign-duration">0</span>
      Monate ab Vertragsschluss (Zinsbindungsdauer); Sie müssen monatliche Teilzahlungen in der von Ihnen gewählten Höhe leisten. Führen Sie Ihre Ratenplan-Verfügung nicht innerhalb der Zinsbindungsdauer zurück, gelten die Konditionen für Folgeverfügungen.</li>
    <li class="show-on-less-month">
      <strong>
        <u>Folgeverfügungen:</u>
      </strong>
      Für andere und künftige Verfügungen (Folgeverfügungen) beträgt der veränderliche Sollzinssatz (jährlich) 16,58 % (falls Sie bereits einen Kreditrahmen bei uns haben, kann der tatsächliche veränderliche Sollzinssatz abweichen). Für Folgeverfügungen müssen Sie monatliche Teilzahlungen in der von Ihnen gewählten Höhe, mind. aber 2,5% der jeweils höchsten, auf volle 100 € gerundeten Sollsaldos der Folgeverfügungen (mind. 9 €) leisten. Zahlungen für Folgeverfügungen werden erst auf verzinste Folgeverfügungen angerechnet, bei unterschiedlichen Zinssätzen zuerst auf die höher verzinsten.</li>
    <li class="show-on-less-month">Angaben zugleich repräsentatives Beispiel gem. § 17 Abs. 4 PAngV. Gültig für Kunden ab 18 Jahren mit Wohnsitz in Deutschland, gültigem Personalausweis oder Reisepass (Nicht-EU-Bürger i.V.m. gültigem Aufenthaltstitel), gültiger EC-Karte auf eigenen Namen und Mindestnettoeinkommen von 450 € (ohne Kindergeld). Selbständige: Finanzierung nur für private Zwecke, mind. 24 Monate Selbständigkeit. Ggfs. wird ein aktueller Gehalts-/Einkommensnachweis benötigt. Vermittlung erfolgt ausschließlich für den Kreditgeber BNP Paribas S.A. Niederlassung Deutschland, Rüdesheimer Straße 1, 80686 München. Widerrufsrecht: Der Darlehensnehmer kann seine Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen widerrufen. Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs, wenn die Erklärung auf einem dauerhaften Datenträger (z.B. Brief, Telefax, E-Mail) erfolgt. Der Widerruf ist zu richten an: BNP Paribas S.A. Niederlassung Deutschland, Wuhanstraße 5, 47051 Duisburg (Fax: 02 03/34 69 54-09; Tel.: 02 03/34 69 54-02; E- Mail: widerruf@consorsfinanz.de).</li>
  </ul>
</div>

{% schema %}
    {
      "name": "Calculator-text",
      "target": "section",
      "settings": [
      ]
    }
  {% endschema %}