<div class="product--financing">
  <img
    class="financing--logo"
    src="{{ 'Consors_Finanz_Logo.png' | asset_url }}"
    alt="Consors Finanz Logo"
    width="200"
    height="45"
    loading="eager"
  >
  <br>
  Finanzieren Sie bequem mit Consors Finanz.<br>
  Weitere Informationen finden sie

  <button class="openModalConsors" id="openCalculator">hier</button>
</div>

{% schema %}
{
  "name": "Consors Finanz FrontStore",
  "target": "section"
}
{% endschema %}
